.body1-text{
    background-color: #E4B1F0;
    padding:100px;
   
}
.body2-cards{
    background-color: ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card1{
    width: 18%;
    height: auto;
    background-color:antiquewhite;
    text-align: center;
    padding-top: 5px;
    margin-left: 30px;
    border: 5px solid antiquewhite;
    border-radius: 7px;
}
.card1 img{
    width: 200px;
    height: 270px;
}
.card1-text{
    margin-top: 20px;
}
.card1 button{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
}